<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form action="/submit-user" method="post">
        <h1>Enter Your First Name : </h1>
        <input type="text" placeholder="first name" name="first">
        <h2>Enter Your Last Name : </h2>
        <input type="text" placeholder="last name" name="last">
        <button> submit </button>
    </form>
</body>
</html>